Repository RohitSavalagi/MPA: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run stylelint:fix

-- test
  src/app/app.component.ts
Due: npm run lint:fix

-- test
  .eslintrc.js
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/core/utils/icon/icon.component.ts
  src/environments/environment.ts
  tsconfig.json
Due: npm run lint:fix

-- changed name
  README.md
  angular.json
  package.json
Due: none

-- changed title
  src/app/app.component.ts
Due: npm run lint:fix

-- changed title
  package.json
  src/app/app.component.ts
Due: npm run lint:fix

Input Validation added
  src/app/components/login/login.component.html
  src/app/components/login/login.component.ts
  src/styles.less
Due: npm run lint:fix, npm run stylelint:fix

for login and registration validation and authentication added
  README.md
  src/app/components/contracts/contracts.component.less
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.less
  src/app/components/login/login.component.ts
  src/app/components/registration/registration.component.html
  src/app/components/registration/registration.component.less
  src/app/components/registration/registration.component.ts
  src/app/core/models/login.model.ts
  src/app/core/models/registration.model.ts
  src/app/core/models/user.model.ts
  src/app/core/services/dashboard.service.ts
  src/app/core/services/user.service.ts
  src/app/core/utils/icon/icon.component.less
  src/assets/dashboard_tasks.json
Due: npm run lint:fix, npm run stylelint:fix

Issue with login page is resolved
  db.json
  src/app/components/contracts/contracts.component.less
  src/app/components/contracts/contracts.component.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/login/login.component.html
  src/app/components/login/login.component.less
  src/app/components/login/login.component.ts
  src/app/components/products/products.component.html
  src/app/components/products/products.component.less
  src/app/components/products/products.component.ts
  src/app/components/registration/registration.component.html
  src/app/components/registration/registration.component.ts
  src/app/components/tasks/tasks.component.ts
  src/app/core/models/tasks.model.ts
  src/app/core/services/contracts.service.spec.ts
  src/app/core/services/contracts.service.ts
  src/app/core/services/products.service.ts
  src/app/core/services/tasks.service.spec.ts
  src/app/core/services/tasks.service.ts
  src/assets/dashboard_tasks.json
Due: npm run lint:fix, npm run stylelint:fix

Path conditions:
  npm run lint:fix: any of: ./**/*.ts
  npm run stylelint:fix: any of: ./**/*.less
